{% extends 'base.html' %}


{% block title %}
    {{ title }}
{% endblock title %}


{% block content %}

<div  class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h3>View Employee</h3>
            </div>
            <div class="card-body">
                <table>
                    <form>
                        <!-- Name input -->
                        <div class="form-outline mb-4">
                          <input type="text" id="form5Example1" value="{{ emp.name }}" class="form-control" disabled />
                          <label class="form-label" for="form5Example1">Employee Name</label>
                        </div>
                      
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                          <input type="email" id="form5Example2" value="{{ emp.email }}" class="form-control" disabled />
                          <label class="form-label" for="form5Example2">Email address</label>
                        </div>
                        
                        <div class="form-outline mb-4">
                          <input type="text" id="form5Example2" value="{{ emp.address }}" class="form-control" disabled />
                          <label class="form-label" for="form5Example2">Address</label>
                        </div>
                        
                        <div class="form-outline mb-4">
                          <input type="text" id="form5Example2" value="{{ emp.phone }}" class="form-control" disabled />
                          <label class="form-label" for="form5Example2">Phone</label>
                        </div>

                        <div class="form-outline mb-4">
                          <input type="text" id="form5Example2" value="{{ emp.doj }}" class="form-control" disabled />
                          <label class="form-label" for="form5Example2">Date of Joining</label>
                        </div>
                        
                        <div class="form-outline mb-4">
                          <input type="text" id="form5Example2" value="{{ emp.designation }}" class="form-control" disabled />
                          <label class="form-label" for="form5Example2">Designation</label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="text" id="form5Example2" value="{{ emp.salary }}" class="form-control" disabled />
                            <label class="form-label" for="form5Example2">Salary</label>
                          </div>

                          <div class="form-outline mb-4">
                            <input type="text" id="form5Example2" value="{{ emp.department }}" class="form-control" disabled />
                            <label class="form-label" for="form5Example2">Department</label>
                          </div>
                      
                      </form>
                </table>
              
            </div>
            <div class="card-footer text-muted">
                <a href="{% url 'list' %}" class="btn btn-warning">Back to List</a>
            </div>
          </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Photograph</div>
            <div class="card-body">
              <img src="{{ emp.photo.url }}" class="img-responsive"alt="" width='100%'>
            </div>
            <div class="card-footer text-muted">
                
            </div>
          </div>
    </div>

</div>
    
{% endblock content %}
    
    