{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css'%}">
</head>
<body>
    <div class="container">
        <header>
            <img src="{% static 'images/banner.png' %}" alt="No Image" width="100%">
        </header>
        <button class="btn btn-secondary">Click Me</button>
        <button class="btn btn-success">Submit</button>
        <button class="btn btn-danger">Delete</button>
        <a class="btn btn-primary" href="">Don't Click Here</a>

        <hr>
        <br>
    <table border="1" width="100%">
        <tr class="table-dark">
            <td>ID</td>
            <td>Name</td>
            <td>Address</td>
            <td>Phone</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Sabit</td>
            <td>Dhaka</td>
            <td>01745871019</td>
        </tr>
        <tr>
            <td>2</td>
            <td>abc</td>
            <td>Farmgate</td>
            <td>1234</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>